Test/Library/
Test/Temp/
Test/.vs/Test/v14/.suo
Test/Assets/Resources/*/*.png.meta
Test/Assets/Resources/AnimVirus/Thumbs.db.meta
Test/Assets/Resources/AnimVirus/Thumbs.db
Test/Assets/Resources/Bille/Thumbs.db.meta
Test/Assets/Resources/Bille/Thumbs.db
Test/Assets/Resources/joueurAnim.meta
Test/Assets/Resources/Bille.meta
Test/Assets/Animation.cs.meta
Test/Assets/Resources/AnimVirus.meta
Test--/Library/metadata/00/00000000000000002000000000000000.info
Test-/
Test--/
Test2/
Test/Assets/Resources/Thumbs.db
Test/Assets/Resources/Thumbs.db.meta
Test/Assets/Resources/*.png.meta
Test/Assets/Resources/*.meta
EGJ/.vs/EGJ/v14/.suo
EGJ/Assets/*.cs.meta
EGJ/Assets/*.prefab.meta
EGJ/Assets/*.unity.meta
EGJ/Assets/Resources/*.meta
EGJ/Assets/Resources/AnimVirus/*.png.meta
EGJ/Assets/Resources/AnimVirus/*.db.meta
EGJ/Assets/Resources/*/Thumbs.db
EGJ/Assets/Resources/*/*.db.meta
EGJ/Assets/Resources/*/*.png.meta
EGJ/Assets/*/Thumbs.db
EGJ/Library/
EGJ/Temp/
ProtoPourQuentin/Library/
ProtoPourQuentin/Temp/UnityTempFile-0728179d7f3b42f47b7de95799d9ab62
ProtoPourQuentin/Temp/UnityLockfile
ProtoPourQuentin/Temp/UnityVS_obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ProtoPourQuentin/Temp/
ProtoPourQuentin/Assets/Assets/SoundFX/*.wav.meta
ProtoPourQuentin/Assets/Assets/resources/*/*.png.meta
ProtoPourQuentin/Assets/Assets/SoundFX.meta
ProtoPourQuentin/Assets/Assets/SoundFX/08_bgmusic.wav
